<h1>REGISTER</h1>
<form action="/register" method="post">
  <label for="email">Email: </label>
  <input 
    type="email" 
    name="email"
    id="email"
    style="width: 300px; margin: 1em"
  />
  <label for="email">Password: </label>
  <input 
    type="password" 
    name="password"
    id="password"
    style="width: 300px; margin: 1em"
  />
  <button type="submit">Submit</button>
</form>